.header-style{
	background-color: #86C5DA;	
	.pure-menu-heading {
		color: Black;
		font-weight: bold;
	}

	.pull-right{
		float: right;
	}
	.pure-menu-list {
		.pure-menu-item {
			color: Black;
		}
		.pure-menu-link{
			color: Black;
		}
	}
}
